@tailwind base;
@tailwind components;
@tailwind utilities;


html, body
{
    height: 100%;
    width: 100%;
}

#root
{
    /* display: relative; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main
{
    flex-grow: 1;
    background-color: beige;
    height: 100%;
    display: grid;
    grid-template-columns: [left-start] .2fr [left-end main-start] 1fr [main-end right-start] .2fr [right-end];
}

#main-content
{
    grid-column: main;
    padding-top: 2em;
    height: 100%;
}